.charge-money {
    background-color: #FFFFFF;
    .record-filter {
        margin-left: 20px;
        padding-top: 24px;
        padding-bottom: 24px;
        .inline-style {
            display: inline-block;
            .ant-select-selection--single {
                height: 25px;
                .ant-select-selection__rendered {
                    line-height: 25px;
                    margin-left: 12px;
                }
                .ant-select-arrow {
                    top: 55%;
                }
            }
            span {
                font-size: 12px;
                color: #7f8086;
                opacity: .73;
                letter-spacing: -0.6px;
            }
            .from-style {
                margin-right: 10px;
            }
            .select-style {
                font-size: 12px;
                color: #4b4f59 !important;
                letter-spacing: -0.6px;
            }
            .to-style {
                margin-left: 68px;
                margin-right: 10px;
            }
            .picker-style {
                display: inline-block;
                height: 25px;
                .ant-input {
                    height: 25px;
                    line-height: 1.2;
                }
                input {
                    font-size: 12px;
                    color: #4b4f59 !important;
                    letter-spacing: -0.6px;
                }
                input::-webkit-input-placeholder { /* WebKit browsers */
                    color: #c3c6ce;
                    font-size: 12px;
                    letter-spacing: 0px;
                }
                input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color: #c3c6ce;
                    font-size: 12px;
                    letter-spacing: 0px;
                }
                input:-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: #c3c6ce;
                    font-size: 12px;
                    letter-spacing: 0px;
                }
                input:-ms-input-placeholder { /* Internet Explorer 10+ */
                    color: #c3c6ce;
                    font-size: 12px;
                    letter-spacing: 0px;
                }
            }
            .time-style {
                margin-left: 70px;
                margin-right: 10px;
            }
        }
    }
    .record-body {
        .pagination {
            padding-top: 42px;
            padding-bottom: 20px;
            text-align: right;
        }
        .ant-pagination-item-active {
            border-color: #3D79EC;
            border-radius: 2px;
            background-color: #3D79EC;
            a {
                font-size: 14px;
                color: #FFFFFF;
            }
        }
    }
    .transferBox-value{
        text-align: left;
        .transferBox-con{
            padding-top: 37px;
            p{
                float: left;
                font-size: 16px;
                color: #3d4657;
                letter-spacing: 0;
            }
        }
    }
}
.detail-info {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    .address {
        width: 50%;
    }
    .detail-label {
        font-size: 14px;
        color: #AAAFB9;
        letter-spacing: 0;
    }
    .detail-value {
        margin-left: 5px;
        font-size: 14px;
        color: #3D4657;
        letter-spacing: 0;
    }
    
}