@import '../../../../styles/common.scss';
.changelopass-title {
    font-size: 20px;
    color:  #4a4a4a;
    letter-spacing: 0;
}
.line {
    margin-top: 14px;
    width: 966px;
    height: 1px;
    background: #E7EBF2;
}
.safenotice {
    font-size: $font_small;
    color: $text_light;
    margin-top: 2px;
}
.mobile-fromWrap {
    margin-top: 44px;
    .safeInput-form {
        .enLabel {
            min-width: 220px;
        }
        .enInput {
            width: 410px;
        }
    }
    .changelopass-btn {
        width: 471px;
        text-align: right;
        margin-top: 59px;
    }
    .enSelcet {
        min-width: 220px;
    }
    .enBtn {
        width: 620px;
    }
    .selected-style {
        margin-bottom: 20px;
    }
}
