{
  "presets": ["env", "stage-2", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "syntax-dynamic-import",
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "lib",
      "style": "css" 
    }]
  ]
}
