// color
$dark_theme: #4a4a4a;
$text_light: #AAAFB9;
$all_blue: #3D79EC;
$background: #F7F8FC;   // 背景色
$btn-background: #E7EbF2;   // 按钮背景色
$hover_blue: #96B8F9;   // 按钮，标签hover色
$parting_line: #E7EBF2; // 分割线
$error_red: #E74C4C;
$input_line: #D6DAE2;
$icon_color: #3D4657;
$words_many: #5F646E;
$progress_bar: #E8E9ED;
// tradingColor
$trade_dark: #596B9F;
$trade_light: #AAB8DF;
$trade_green: #24B647;
$trade_red: #E74C4C;
// fontSize
$font_small: 12px;
$font_normal: 14px;
$font_big: 16px;
// width && height
$input_height: 60px;
