.comm {
    min-width:1200px;
    margin: 0 auto;
    min-height: 100vh;
    padding-bottom: 235px;
    position: relative;
    background: rgba(252,251,251,1);
    // min-height: calc(100vh - 210px);
}
