.trade-pop {
    .trade-title {
        font-size: 16px;
        color: #AAB8DF;
        margin-bottom: 39px;
    }
    .trade-type {
        margin-top: 10px;
        .label-common {
            font-size: 12px;
            // color: #596B9F;
        }
        .value-common {
            font-size: 12px;
            float: right;
        }
    }
}