.loadable-loading {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    height: 100%;
    left: 0;
    top: 0;
    >div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}
.round {
    display: block;
    width: 15px;
    height: 15px;
    animation: roundAni 3s cubic-bezier(.5, 0, .5, 1) infinite;
    border-radius: 100%;
    background: #3d79ec;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translateX(-100px)
}
.round-2 {
    opacity: .9;
    animation-delay: 90ms
}
.round-3 {
    opacity: .8;
    animation-delay: 180ms
}
.round-4 {
    opacity: .7;
    animation-delay: 270ms
}
.round-5 {
    opacity: .6;
    animation-delay: 360ms
}
.round-6 {
    opacity: .5;
    animation-delay: 450ms
}
@keyframes roundAni {
    0% {
        transform: translateX(-100px)
    }
    15% {
        transform: translateX(-100px)
    }
    50% {
        transform: translateX(100px)
    }
    65% {
        transform: translateX(100px)
    }
    100% {
        transform: translateX(-100px)
    }
}
.loadable-loading-text {
    color: #0F182A;
    font-size: 16px;
    position: absolute;
    left: -30px;
    font-weight: normal;
    top: 30px;
}
.spinner {
  margin: 0 auto;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #3d79ec;
  height: 100%;
  width: 4px;
  border-radius: 3px;
  margin-right: 3px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
